.ganancias {
    font-size: 20px;
    font-weight: lighter;
}

@media (max-width: 575.98px) { 
    .number-input{
        max-width: 4rem;
    } 
}


@media (min-width: 576px) and (max-width: 767.98px) { 
    .number-input{
        max-width: 4rem;
    }
}

